aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.9
dill==0.3.4
discord.py @ git+https://github.com/Rapptz/discord.py@5a06fa5f3e28d2b7191722e1a84c541560008aea
et-xmlfile==1.1.0
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
openpyxl==3.0.9
yarl==1.7.2
